# Dependencies
node_modules
*.log*
.nuxt
.nitro
.cache
.output
.env
dist

# IDE
.vscode
.idea

# Misc
.DS_Store
.fleet
.vscode

# Local env files
.env
.env.*
!.env.example

# Testing
coverage

# Built files
dist/
.nuxt/
.output/

# Cache
.turbo/ 